.box {
  width: 200px;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .2s linear;
  white-space: nowrap;
}

.ellipsis:focus,
.ellipsis:hover {
  color: transparent;
}

.ellipsis:focus:after,
.ellipsis:hover:after {
  content: attr(data-text);
  overflow: visible;
  text-overflow: inherit;
  background: #fff;
  position: absolute;
  left: auto;
  top: auto;
  width: auto;
  max-width: 500px;
  border: 1px solid #eaebec;
  padding: 0 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .28);
  white-space: normal;
  word-wrap: break-word;
  display: block;
  color: black;
  margin-top: -20px;
}





// .tags-container {
//   margin: 100px;
//   //delete above
//   white-space: nowrap;
//   overflow: hidden;
//   border: 1px solid;
//   text-overflow: ellipsis;

//   .tag {
//     margin-right: 4px;
//   }
// }